<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serviceBusConnectionString" value="Endpoint=sb://topic-test.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=dYaKZwweB7b3GOVxEoFE4l306ZW4W9ZGNEzwymrCIpo=" />
		<add key="topicName" value="demo-topic" />
		<add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=teststoragefortopics;AccountKey=RfNCTlk6sf32uYpoNA6zr7fbdNWk2nvo2eNHn4BiUllQAhdRtbU3MIDcoYQI18qxkK5WgDu++9WF+AStsAq+9Q==;EndpointSuffix=core.windows.net" />
	</appSettings>
</configuration>
